/**LATINFLIXTV PLAYER
 @version 2.0
 @Design Skin 2022*/


body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
    display: none
}
 
.vjs-icon-circle:before, .vjs-seek-to-live-control .vjs-icon-placeholder:before, .video-js .vjs-play-progress:before {
  font-size: 1em;
  position: relative;
  font-weight: 500;
  line-height: 2em;
  content: "\f111";
}

.video-js .vjs-seek-to-live-control {
  align-items: start;
  justify-content: left;
  cursor: pointer;
  flex: 1;
  display: flex;
  height: 100%;
  padding-left: .5em;
  padding-right: 0.5em;
  font-weight: bold;
  font-style: helvetica;
  font-size: 1em;
  line-height: 3em;
  width: auto;
  min-width: 4em;
  content: '';
}

/*ControlBar*/
.video-js .vjs-control-bar {
  display: show;
  width: 100%;
  position: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background-color: #2B333F;
  background-color: rgba(0, 0, 0, 0.9);
}

.video-js .vjs-control {
    width: 3em
}

.video-js {
    font-size: 13px;
  font-weight: bold;
    overflow: hidden
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {

    visibility: visible;
    opacity: 0.8;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    transform: translateY(3em);
    -webkit-transition: -webkit-transform 1s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s;
    -o-transition: -o-transform 1s ease 0s;
    transition: transform 1s ease 0s;
}


/*QualitySelector*/
.vjs-quality-selector .vjs-menu-button{margin:0;padding:0;height:100%;width:100%}.vjs-quality-selector .vjs-icon-placeholder{font-family:'FontAwesome';font-weight:lighter;font-style:fa-solid; font-size: 1em; top: .1em; position: flex;}.vjs-quality-selector .vjs-icon-placeholder:before{content:'\f013'}.vjs-quality-changing .vjs-big-play-button{display:none}.vjs-quality-changing .vjs-control-bar{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:absolute;visibility:visible;opacity:1}



.vjs-resolution-button .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  position: relative;
  font-size: 1.8em;
  line-height: 0em;
  content: '\f013';
  top: 0.23em;
}


/*LoadProgress*/
.video-js .vjs-play-progress:before {
  display: none;
  font-size: 0.05em;
  position: absolute;
  right: -0.5em;
  top: -0.77em;
  z-index: 1;
  color: #fff;}

.vjs-volume-control.vjs-slider-active {
  visibility: hidden;
  opacity: 1;
  position: relative;
  color: 000000;
  transition: visibility 0.1s, opacity 0.9s, height 0.1s, width 0.1s, left 0s, top 0s;
}

.video-js .vjs-slider:focus {
  text-shadow: 0em 0em 1em white;
  box-shadow: 0 0 1em #ff0048;}


.video-js .vjs-load-progress {
  background: rgba(255, 0, 72, 0.8);
}
.video-js .vjs-load-progress div {
  background: rgba(255, 0, 72, 1.0);
}
.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.36666667em;
  display:flex;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder.disabled {
  font-size: 11em;
}

.video-js .vjs-play-progress {
  background-color: #fff;
}

.video-js .vjs-progress-control {
    display: true;
    position: absolute;
    color: #ff0048;
    left: 0;
    right: 0;
    width: 100%;
    height: .5em;
    top: -.5em
}

/*Barra Progreso Mini*/
.video-js .vjs-progress-control {
  cursor: pointer;
  font-size: 1em;
  flex: auto;
  display: flex;
  align-items: center;
  height: .5em;
  top:-.5em;
  min-width: 4em;
  touch-action: none;
}

/*Barra Progreso Grande Click*/
.video-js .vjs-progress-control:hover {
    height: 1.251em;
    top: -1.25em
}

.video-js .vjs-progress-control .vjs-load-progress,.video-js .vjs-progress-control .vjs-play-progress,.video-js .vjs-progress-control .vjs-progress-holder {
    height: 100%

}

.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0
} 

video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
    height: .25em;
    top: -.25em;
    pointer-events: none;
    -webkit-transition: height 1s,top 1s;
    -moz-transition: height 1s,top 1s;
    -ms-transition: height 1s,top 1s;
    -o-transition: height 1s,top 1s;
    transition: height 1s,top 1s
}


/*Time Control*/
.video-js .vjs-spacer, .video-js .vjs-time-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #ff004;
  display: none;
}

.video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto;
  display: none;
}

.video-js .vjs-time-control.vjs-time-divider {
 display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  margin-left: -1.449em;
  margin-top: .03em;
  color: #ff0048;
  line-height: 2em;
  font-weight: bolder;
  display: none;
}

.video-js .vjs-time-control.vjs-time-divider div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 3em;
  font-family: Helvetica;
  font-weight: bolder;

}

.video-js .vjs-time-control.vjs-current-time {
  margin-left: -0.96em;
  font-family: Helvetica;
  font-weight: bold;
  }
  
.video-js .vjs-time-control .vjs-current-time-display, .video-js .vjs-time-control .vjs-duration-display {
  width: 100%;
}

.video-js .vjs-time-control .vjs-current-time-display {
  text-align: right;
}

.video-js .vjs-time-control .vjs-duration-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.961em;
  margin-top: 0.0961em;
  width: 100%;
  font-family: Helvetica;
  font-weight: bold;
}

.video-js .vjs-remaining-time {
  display: none;
  }


/*LoadingSpinner*/
.vjs-loading-spinner{display:none;position:absolute;top:50%;left:50%;font-size:8em;line-height:1;width:1em;height:1em;margin-left:-.3em;margin-top:-.49em;opacity:.75;border-radius: 0px;border: 0px solid rgba(43, 51, 63, 0.7);/*-webkit-animation:spin 1.5s infinite linear;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear*/}

.vjs-latinflixtv-skin .vjs-loading-spinner:before{/*content:"\e01e";font-family:VideoJS;*/position:absolute;top:0;left:0;width:1em;height:1em;text-align:center;text-shadow:0 0 .1em #000}


/*Icons Play , Pause*/
.vjs-icon-play:before, .video-js .vjs-play-control .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  font-size: 1.7em;
  position: relative;
 top: 0.03em;
  content: "\f144";
  color: #ff0048;
}


.vjs-icon-pause, .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

.vjs-icon-pause:before, .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
  content: "\f28b";
}

.vjs-icon-replay, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder {
   font-family: FontAwesome;
font-size: 0.8em;
  color: #ff0048;
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
  content: "\f021";
}



/*Icons FullScreen*/
.vjs-icon-fullscreen-enter, .video-js .vjs-fullscreen-control .vjs-icon-placeholder {
  font-family: FontAwesome;
 font-weight: normal;
  font-style: normal;
  position: flex;
  font-size: 1em;
color: #ff0048;
}

.vjs-icon-fullscreen-enter:before, .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
content: "\f424";
}



.vjs-icon-fullscreen-exit, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  position: flex;
  font-size: 1em;
color: #ff048;
}
.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content: "\f422";
}

/*Icons Volume*/
.vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  font-size: 1em;
  position: flex;
 top: 0.03em;
 content: "\f6a9";
}

.vjs-icon-volume-low:before, .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  font-size: 1em;
  position: relative;
 top: 0.03em;
  content: "\f026";
}

.vjs-icon-volume-mid:before, .video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
  font-family: FontAwesome;
 font-size: 1em;
 position: relative;
 top: 0.03em;
  content: "\f027";
}

.vjs-icon-volume-high:before, .video-js .vjs-mute-control .vjs-icon-placeholder:before {
  font-family: FontAwesome;
  font-size: 1em;
  position: relative;
  top: 0.03em;
  content: "\f028";
}

/*Menu*/

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: #2B333F;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  bottom: 1.5em;
  max-height: 15em;
}

.vjs-menu li {
  list-style: none;
  margin: 0;
  padding: 0.2em 0;
  line-height: 1.4em;
  font-size: 1em;
  font-family: helvetica;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase;
}

.vjs-menu li.vjs-menu-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2em;
  padding: 0;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  cursor: default;
}

.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover,
.js-focus-visible .vjs-menu li.vjs-menu-item:hover {
  display: block;
  position:before;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.0);
}


.vjs-icon-captions:before, .video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before, .video-js .vjs-captions-button .vjs-icon-placeholder:before {
  display:block;
  font-family: FontAwesome;
  font-size: 1.2em;
  position: relative;
 top: 0.03em;
 content: "\f20a";
  }


/*! @name videojs-mobile-ui @version 0.7.0 @license MIT */
@-webkit-keyframes fadeAndScale{0%,to{opacity:0}25%{opacity:1}}@keyframes fadeAndScale{0%,to{opacity:0}25%{opacity:1}}.video-js.vjs-has-started .vjs-touch-overlay{position:absolute;pointer-events:auto;top:0}.video-js .vjs-touch-overlay{display:block;width:100%;height:100%;pointer-events:none}.video-js .vjs-touch-overlay.skip{opacity:0;-webkit-animation:fadeAndScale .6s linear;animation:fadeAndScale .6s linear;background-repeat:no-repeat;background-position:80% center;background-size:10%;background-image:url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')}.video-js .vjs-touch-overlay.skip.reverse{background-position:20% center;background-image:url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M11 18V6l-8.5 6 8.5 6zm.5-6l8.5 6V6l-8.5 6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')}.video-js .vjs-touch-overlay .vjs-play-control{top:50%;left:50%;transform:translate(-50%,-50%);position:absolute;width:30%;height:80%;pointer-events:none;opacity:0;transition:opacity .3s ease}.video-js .vjs-touch-overlay .vjs-play-control .vjs-icon-placeholder::before{content:'';background-size:60%;background-position:center center;background-repeat:no-repeat;background-image:url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')}.video-js .vjs-touch-overlay .vjs-play-control.vjs-paused .vjs-icon-placeholder::before{content:'';background-image:url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8 5v14l11-7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>')}.video-js .vjs-touch-overlay .vjs-play-control.vjs-ended .vjs-icon-placeholder::before{content:'';background-image:url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg>')}.video-js .vjs-touch-overlay.show-play-toggle .vjs-play-control{opacity:1;pointer-events:auto}.video-js.vjs-mobile-ui-disable-end.vjs-ended .vjs-touch-overlay{display:none}
